p {
  font-family: Montserrat;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.model {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px;
}

.order {
  font-size: 22px;
}

.delivery {
  text-decoration: underline;
}