p {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.email {
  color: rgb(100, 100, 100);
}

.rules{
  color: rgb(100, 100, 100);
  margin-bottom: 20px;
}

.text {
  font-size: 20px;
  padding: 2px;
  width: 400px;
  border-width: 1px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.agree {
  width: 400px;
  border: none;
  background-color: rgb(0, 106, 255);
  color: white;
  font-size: 22px;
  padding: 16px;
  border-radius: 30px;
  cursor: pointer;
}